/**
 * Custom `@font-face` rules
 *
 * These will be added immediately before Tailwind’s `base` layer.
 */

/* HEADINGS */

@font-face {
	font-family: "Roc Grotesk";
	src:
		url("./fonts/RocGrotesk-Regular.woff2") format("woff2"),
		url("./fonts/RocGrotesk-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roc Grotesk";
	src:
		url("./fonts/RocGrotesk-Medium.woff2") format("woff2"),
		url("./fonts/RocGrotesk-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roc Grotesk";
	src:
		url("./fonts/RocGrotesk-Light.woff2") format("woff2"),
		url("./fonts/RocGrotesk-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roc Grotesk";
	src:
		url("./fonts/RocGrotesk-Bold.woff2") format("woff2"),
		url("./fonts/RocGrotesk-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* BODY */

/* arimo-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Arimo";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/arimo-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arimo-italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Arimo";
	font-style: italic;
	font-weight: 400;
	src: url("./fonts/arimo-v29-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arimo-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Arimo";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/arimo-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arimo-700italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Arimo";
	font-style: italic;
	font-weight: 700;
	src: url("./fonts/arimo-v29-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* MONO */

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 500;
	src: url("./fonts/ibm-plex-mono-v19-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
