/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */

.gradient-primary-soft {
	@apply bg-gradient-to-b from-transparent via-primary-50/70 via-40% to-transparent;
}

/**
 *
 */
.separator-gradient {
	border-image: linear-gradient(
			to right,
			theme(colors.foreground) 0%,
			transparent 100%
		)
		1 stretch;
	border-bottom: 2px solid;
}

.text-inherit {
	color: inherit;
}
